<html>
	<head>
		<title>Blog</title>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
		<script src="/javascripts/angularApp.js"></script>
		<link  rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>
		<style> .glyphicon-thumbs-up { cursor:pointer } </style>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
	</head>
	<body ng-app="Blog">
		<div class="container">
			<div class="Row" >
				<div class="col-md-12 col-md-offset-0">
				    <ui-view></ui-view>
    	    	</div>
   			</div>
   		</div>
   		<script type="text/ng-template" id="/home.html">
			<div class="Page header">
				<h1>Blog</h1>&nbsp;<h4>by Martijn Noordhof</h4>
			</div>
			<div class="well" ng-repeat="post in posts" style="background-color: rgba(0, 0, 0, 0.2);">
				<button type="button" class="glyphicon glyphicon-thumbs-up btn btn-success" ng-click="incrementUpvotes(post)"></button>
				{{post.upvotes}}
				<button type="button" class="glyphicon glyphicon-thumbs-down btn btn-danger" ng-click="decrementUpvotes(post)"></button>
					<span  style="font-size:25px; margin-left:10px;">
						{{post.title}}
					</span>
				    <span>
						<a href="#/posts/{{post._id}}">Comments</a>
						({{post.comments.length}})
					</span>
					<br>
					<span>
						<h5>{{post.text}}</h5>
					</span>
				</span>
			</div>
		</script>
		<script  type="text/ng-template" id ="/admin.html" >
			    <form ng-submit="addPost()">
			    	<h3>New post</h3>

			    	<div class="form-group">
			    		<label>title</label>
			    		<input type='text' class="form-control" placeholder="title" ng-model="title"/>
			    	</div>

			    	<div class='form-group'>
			    		<label>text</label>
    					<textarea class="form-control" id="exampleTextarea" placeholder="content" rows="4" ng-model="text"></textarea>
    				</div>

			    	<button type='submit' class='btn btn-primary'>Post</button>
			    </form>
			</div>
		</script>

		<!-- comment screen -->
		<script type="text/ng-template" id="/posts.html">

			<div class="page-header">
	            <h2 style="display:inline-block";>
	                <span>
	                    {{post.title}}
	                </span>
	            </h2>
	            &nbsp;
	            <a type="button" class="btn btn-primary glyphicon glyphicon-share-alt" style='display:inline-block; color:black;' href="#/posts">Back</a>
        	</div>

			<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
				<button type="button" class="glyphicon glyphicon-thumbs-up btn btn-success" ng-click="incrementUpvote(comment)"></button>
					{{comment.upvotes}}
				<button type="button" class="glyphicon glyphicon-thumbs-down btn btn-danger" ng-click="decrementUpvote(comment)"></button>
				 - by {{comment.author}}
				<span style="font-size:20px; margin-left:10px;">
			    	{{comment.body}}
			    </span>
			    <br><br>
			</div>	

			    <form ng-submit="addComment()">
					<h3>Add a new comment</h3>

					<div class="form-group">
				    	<input type="text" 
				    	class="form-control" 
				    	placeholder="Comment" ng-model="body">
				    </div>
				    <button type="submit" class="btn btn-primary">Post to {{post.title}}</button>
				</form>
			</div>
		</script>
	</body>
</html>